:root {
	--container-width: 1470px;
	--container-padding: 16px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Libre Baskerville', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #F9F7F4;
	--text-color: #100A0A;
	--accent: #F1F38F;
	--hover-input: #f1f38f57;
	--link-color: #2578c8;
	--title-color: #191818;
	--border-color: #000000;
	--input-border: #9e9c9c;


    --laptop-size: 1199px;
	--tablet: 920px;
	--mobile-size: 360px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}