.pin-spacer{
    height: 665px !important;
}
.swiper-container {
    width: 100%;
    padding-top: 40px;
    overflow: hidden;

    @media screen and (max-width: 1199px){
        padding: 16px;
        display: none;
    }

    
}
.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: 1199px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 535px; 
    
    @media screen and (max-width: 1199px){
        width: 360px; 
        
    }
}

.card{
    position: relative;
    width: 435px;
    height: 530px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--page-bg);
    border: solid 1px var(--title-color);
    border-radius: 10px;
    transform: rotate(-15deg);
    opacity: 0;
    transition: transform 0.1s ease, opacity 0.1s ease;

    

    .corner {
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid var(--title-color);
        background-color: transparent;
        z-index: 1;
    }

    .top-left {
        top: 20px;
        left: 20px;
        border-right: none;
        border-bottom: none;
    }

    .top-right {
        top: 20px;
        right: 20px;
        border-left: none;
        border-bottom: none;
    }

    .bottom-left {
        bottom: 20px;
        left: 20px;
        border-right: none;
        border-top: none;
    }

    .bottom-right {
        bottom: 20px;
        right: 20px;
        border-left: none;
        border-top: none;
    }

    @media screen and (max-width: 1199px){
        width: 310px;
    height: 415px;
    padding: 34px;
    margin-bottom: 32px;
    transform: rotate(0);

   
}
}

.swiper-slide:nth-child(1) .card{
    background-color: var(--accent);
    
}



.swiper-slide:nth-child(even) .card {
    transform: rotate(15deg); 

    @media screen and (max-width: 1199px){
    transform: rotate(0);
    transition: transform 0.1s ease, opacity 0.1s ease;
    }
}


.card__text{
    margin-bottom: 23px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;

    @media screen and (max-width: 1199px){
        margin-bottom: 12px;
        font-size: 16px;
    }
}



