.contact{
    margin: 0 0 104px 0;
}
.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0;

    @media screen and (max-width: 768px){
        flex-direction: column-reverse;
        row-gap: 24px;
    }
}

.contact__leftwrapper{
    width: 824px;
    height: 956px;
    margin-right: 24px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    background-image: url(../../img/contact/dasheddesktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    

    @media screen and (max-width:768px){
        width: 360px;
        height: 769px;
    margin-right: 0px;
    padding: 24px 16px;
    background-image: url(../../img/contact/dashedmobile.png);

    }
}

.contact__content{
    width: 675px;

    @media screen and (max-width:768px){
        width: 328px;
    }
}

.contact__title{
    margin-bottom: 12px;
    font-size: 72px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.2;
    
	text-transform: uppercase;

    @media screen and (max-width: 768px){
        font-size: 32px;
        line-height: 1.25;
    }
}

.contact__subtitle{
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;

    @media screen and (max-width: 768px){
        font-size: 16px;
    margin-bottom: 16px;
        
    }
}

.contact__text{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 0;

    @media screen and (max-width: 768px){
        font-size: 14px;
        margin-bottom: 58px;
    }
}


.contact__form{
    width: 671px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px){
        width: 328px;
    }
}

.contact__input{
    width: 100%;
    padding: 12px 24px;
    border: solid 1px var(--input-border);
    border-radius: 20px;


    &--name{
        margin-bottom: 14px;
    }

    &:hover{
        background-color: var(--hover-input);
    }
}

.input__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 14px;
    row-gap: 0;
    margin-bottom: 14px;

    @media screen and (max-width: 768px){
        flex-direction: column;
        row-gap: 14px;
    column-gap: 0;

    }
}

.contact__textarea{
    width: 100%;
    padding: 12px 24px;
    margin-bottom: 24px;
    border: solid 1px var(--input-border);
    border-radius: 20px;
    resize: none;

    &:hover{
        background-color: var(--hover-input);
    }
}

.filled{
    background-color: var(--accent); 
    transition: background-color 0.3s ease-in-out; 
}



.contact__btn{
    position: relative;
    width: 100%;
    padding: 12px 0;
    border-radius: 20px;
    border: solid 1px var(--border-color);
    text-align: center;
    background-color: var(--border-color);
    color: var(--page-bg);
    // z-index: 2;

    &:hover{
    background-color: var(--accent);
    color: var(--border-color);
    }
}

.contact__icon{
    position: absolute;
    top: 11px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute; 
    opacity: 0;
    transform: translateX(405px);
    transition: opacity 0.3s ease, transform 0.5s ease-in-out; 
    z-index: 4;

    @media screen and (max-width:768px){
        display: none;
    }
}

.contact__btn:hover .contact__icon{
    opacity: 1; 
    transform: translateX(415px); 

}



.contact__img {
    width: 590px;
    height: 956px;
    position: relative;
    background-image: url('../../img/contact/sketch.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 2s ease-in-out;
    overflow: hidden;

    @media screen and (max-width: 768px){
        width: 360px;
        height: 769px;
    }
}

.contact__img .new-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 2s ease-in-out;
}