.mobile-nav__wrapper{
	padding: 24px 0 17px 0;
	display: flex;
	justify-content: space-between;

	@media screen and (min-width:920px){
		display: none;
	
	}

	@media screen and (max-width:768px){
		padding: 0;
	}
}

.mobile-nav__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий чорний фон */
    backdrop-filter: blur(10px); /* рівень розмиття */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 98; /* нижче рівня меню */
}

/* Активний стан для розмиття */
.mobile-nav__backdrop--active {
    opacity: 1;
    visibility: visible;
}

.mobile-nav__rightside{
	display: flex;
	align-items: center;
	gap: 4px;
}

.mobilenav__tel{
	height: 44px;
	padding: 8px 16px;
	border: solid 1px var(--border-color);
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
}

.mobilenav-btn{	
	display: flex;
	align-items: center;
}

.mobilenav-btn--active .mobilenav-text {
	background-color: var(--border-color); /* Змінюємо фон на чорний */
	color: var(--accent); /* Змінюємо текст на білий */
}

.mobilenav-btn--active .mobilenav-icon {
	background-color: black; /* Іконка теж стає чорного фону */
}

.mobilenav-text{
	padding: 13.5px 15px;
	font-family: var(--font-main);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	border-radius: 15px;
	background-color: var(--accent);
}

.mobilenav-icon{
	width: 43px;
	height: 43px;
	background-color: var(--accent);
	border-radius: 50%;
	padding: 9px 10px;
}

	
.mobilenav-img{
	position: absolute;
	top: 26px;
	right: 25px;
	width: 23px;
	height: 24px;
	z-index: 20;
}

.mobile-nav {
	position: fixed;
	// top: 76px;
	top: -100%;
	width: 100%;
	// height: 100%;
    z-index: 99;
	padding: 0 15px;

	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    // background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
	
	transition: all 0.2s ease-in;
    
	@media screen and (min-width:920px){
		display: none;
	}
}



.mobile-nav--open {
	top: 98px;
}

.mobile-nav a {
	color: var();
	
}

.mobile-nav__container{
	padding: 76px 10px;
	position: relative;
	border-radius: 20px;
	background: var(--accent);
    
	.corner {
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid var(--title-color);
        background-color: transparent;
        z-index: 1;
    }

    .top-left {
        top: 20px;
        left: 20px;
        border-right: none;
        border-bottom: none;
    }

    .top-right {
        top: 20px;
        right: 20px;
        border-left: none;
        border-bottom: none;
    }

    .bottom-left {
        bottom: 20px;
        left: 20px;
        border-right: none;
        border-top: none;
    }

    .bottom-right {
        bottom: 20px;
        right: 20px;
        border-left: none;
        border-top: none;
    }
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;

	& .active {
		opacity: 0.5;
	}
}