.services{
    margin: 0 0 96px 0;
}
.services__container{
    position: relative;
    border: none;
}

.services__corners{
    margin-bottom: 56px;
}

.services__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services__item{
    display: flex;
    align-items: center;

    &--content{
        padding: 176px 75px;
        width: 680px;
        
        display: flex;
        flex-direction: column;
    }

    &--reverse{
        flex-direction: row-reverse;
        margin-left: 200px;
    }
}

.services__text{
    width: 410px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.services__img {
    width: 450px;
    height: 450px;
    // animation: spin var(--spin-speed, 40s) linear infinite; /* Використовуємо змінну для швидкості */
}

@media not all and (min-resolution: 192dpi) {
    .services__img {
        content: url("../../img/services/lens1.png"); /* Зображення для Safari */
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
