.services{
    margin: 0 0 196px 0;

    @media screen and (max-width:768px){
        margin: 0 0 48px 0;
        }
    .corner {
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid var(--title-color);
        background-color: transparent;
        z-index: 1;
    }

    .top-left {
        top: 20px;
        left: 20px;
        border-right: none;
        border-bottom: none;
    }

    .top-right {
        top: 20px;
        right: 20px;
        border-left: none;
        border-bottom: none;
    }

    .bottom-left {
        bottom: 20px;
        left: 20px;
        border-right: none;
        border-top: none;
    }

    .bottom-right {
        bottom: 20px;
        right: 20px;
        border-left: none;
        border-top: none;
    }
}
.services__container{
    position: relative;
    border: none;
    padding: 56px 0;
}


.services__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;

    @media screen and (max-width: 920px){
        flex-direction: column;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 769px) and (max-width: 1199px){
		width: 668px;
        flex-direction: row;
    }

    &--content{
        padding: 176px 75px;
        width: 680px;
        
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px){
            padding: 0 0 27px 0;
            width: 360px;
            font-size: 16px;
        }

        @media screen and (min-width: 769px) and (max-width: 1199px){
            padding: 56px 18px;
        width: 580px;
        }

    }

    &--reverse{
        flex-direction: row-reverse;
        margin-left: 200px;
        @media screen and (max-width: 768px){
            flex-direction: column;
            width: 360px;
            margin-left: 0;
        }

        @media screen and (min-width: 769px) and (max-width: 1199px){
            flex-direction: row-reverse;
        margin-left: 50px;
        }
    }
}

.services__text{
    width: 410px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    
    @media screen and (max-width: 920px){
		width: 325px;
		font-size: 16px;
        margin: 0 auto;
	}
}

.services__img {
    width: 450px;
    height: 450px;
   
    @media screen and (max-width: 1199px){
        max-width: 250px;
        max-height: 250px;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
