.hero__title {
	margin: 0 auto 24px;
	width: 1024px;
	font-size: 56px;
	font-weight: 400;
	font-family: var(--font-accent);
	line-height: 1.14;
	text-align: center;
	color: var(--title-color);
	text-transform: uppercase;
	transition: color 3s ease-in-out;

	@media screen and (max-width: 768px){
		width: 360px;
	margin: 0 auto 16px;
		font-size: 28px;
		font-weight: 500;
		line-height: 1.28;
        // text-transform: none;
	}
		
	@media screen and (min-width: 769px) and (max-width: 1199px){
		width: 700px;
		font-size: 36px;
		font-weight: 500;
		line-height: 1.28;
        text-transform: none;
	}
}

.services__title{
	margin: 0 auto 56px;
	width: 1162px;
	font-size: 48px;
	font-weight: 500;
	font-family: var(--font-titles);
	line-height: 1.17;
	color: var(--title-color);
	text-align: center;

	&--bold{
	font-weight: 700;
	}

	@media screen and (max-width: 768px){
		margin: 0 auto 48px;
		width: 325px;
		font-size: 22px;
		font-weight: 500;
		line-height: 1.27;
		text-align: start;
		&--bold{
			font-weight: 700;
			}
	}
		
	@media screen and (min-width: 769px) and (max-width: 1199px){
		margin: 0 auto 48px;
		width: 700px;
		font-size: 36px;
		font-weight: 500;
		line-height: 1.28;
        text-transform: none;
	}
}

.services__subtitle {
	margin: 0 0 16px 0;
	// word-wrap: break-word; 
	font-size: 26px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.31;
	color: var(--title-color);

	@media screen and (max-width: 768px){
		margin: 0 auto 12px;
		width: 325px;
		font-size: 20px;
		line-height: 1.27;
	}
		
	@media screen and (min-width: 769px) and (max-width: 1199px){
		width: 300px;
		font-size: 24px;
		line-height: 1.28;
        text-transform: none;
	}
}

 .opinions__title, .title {
	margin: 0 0 56px 0;
	font-size: 72px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.11;
	text-transform: uppercase;
	text-align: center;


	@media screen and (max-width: 768px){
		margin: 0 auto 48px;
		width: 360px;
		font-size: 32px;
		line-height: 1.27;
	}
		
	@media screen and (min-width: 769px) and (max-width: 1199px){
		width: 768px;
		font-size: 48px;
		line-height: 1.28;
	}
}

.opinions__title, .title {
	margin: 0 0 32px 0;
}

.card__title, .opini{
	font-family: var(--font-titles);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.25;
	color: var(--text-color);


	@media screen and (max-width: 768px){
		font-size: 16px;
	}
}

.privacy__title {
	margin-bottom: 56px;
	font-family: var(--font-accent);
	font-size: 32px;
	line-height: 0.75;
	text-align: center;
}