.hero__title {
	margin: 0 auto 16px;
	width: 1024px;
	font-size: 56px;
	font-weight: 400;
	font-family: var(--font-accent);
	line-height: 1.43;
	text-align: center;
	color: var(--title-color);
}

.services__title{
	margin: 0 auto 85px;
	width: 1162px;
	font-size: 48px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.17;
	color: var(--title-color);
}

.services__subtitle {
	margin: 0 0 16px 0;
	// word-wrap: break-word; 
	font-size: 26px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.31;
	color: var(--title-color);
}

 .opinions__title, .title {
	margin: 0 0 90px 0;
	font-size: 72px;
	font-weight: 700;
	font-family: var(--font-titles);
	line-height: 1.11;
	text-transform: uppercase;
}

.card__title{
	font-family: var(--font-titles);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.25;
	color: var(--text-color);
}