.privacy__container{
    margin-top: 54px;
}

.privacy__item{
    margin-bottom: 24px;
}

.privacy__subtitle{
font-family: var(--font-main);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
}

.privacy__text{
    font-family: var(--font-main);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
}